In [14]:
import json
import mysql.connector
connection=mysql.connector.connect(host="localhost",user="root",password="root",db='employee')
cur=connection.cursor()
x='{"Name":"Ram","Rollno":10,"Location":"chennai"}'
obj=json.loads(x)
try:
    sql="insert into employeeinfo values(%s,%s,%s)"
    val=(obj['Name'],obj['Rollno'],obj['Location'])
    cur.execute(sql,val);  
    connection.commit()
except:
    connection.rollback()
cur.execute('select * from employeeinfo')
for i in cur:
    print(i)
connection.close()

('Ram', 10, 'chennai')